{% load staticfiles %}
		 <link rel ="stylesheet" href="{% static "css/main.css" %}">
        <link rel ="stylesheet" href="{% static "materialize/css/materialize.min.css" %}">
        <script src="{% static "materialize/js/materialize.min.js"></script>

		 <h1>Create New Blog post</h1>
    	 <form method="POST" class="post-form col s12">
    	 	{% csrf_token %}
        	{{ form.as_p }}
        	<button class="btn waves-effect waves-light formSubmit" type="submit" name="action">Save
    			<i class="mdi-content-send right"></i>
  			</button>
         	
    	 </form>
